body { background-color: rgb(198, 207, 250); font-size: 1.5em; line-height: 1.6; font-weight: 400; font-family: "Cousine"; color: #666; }

.logo--middle { fill: rgb(76, 86, 141); }
.minerals__container { background-color: #fff; border-radius: 6px; list-style: none; padding: 30px 30px 30px 30px; -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px; }
.minerals__anchor { border: solid 2px rgb(198, 207, 250); border-radius: 100px; color: #384033; display: block; font-size: 12px; text-align: center; padding: 10px 0 10px 0; width: 90%; transition: background-color 200ms ease-in-out, font-weight 200ms ease-in-out, color 200ms ease-in-out; }
.minerals__anchor:hover { background-color: rgb(198, 207, 250); color: #384033; font-weight: bold; }

table, p, ul { margin-bottom: 2.5rem; }
.mineral__image { display: block; margin: 0 auto; border: solid 2px rgb(198, 207, 250); }
.mineral__image-bg { background-color: #f8f8f8; padding: 20px 0; }
.mineral__table td { border-color: rgb(170, 183, 248); }
