{% extends 'layout.html' %}
{% load static %}
{% load my_filters %}

{% block static %}
<link rel="stylesheet" href="{% static 'catalog/css/catalog.css' %}">{% endblock %}

{% block content %}
<div class="grid-100 mineral__container">
  <h1 class="mineral__name">{{ mineral.name }}</h1>
  <div class="mineral__image-bg">
    <img class="mineral__image" src="{% static 'catalog/images' %}/{{ mineral.image_filename }}">
    <p class="mineral__caption">{{ mineral.image_caption }}</p>
  </div>
  <div class="mineral__table-container">
    <table class="mineral__table">
      <tr>
        <td class="mineral__category">CATEGORY</td>
        <td>{{ mineral.category }}</td>
      </tr>
      <tr>
        <td class="mineral__category">FORMULA</td>
        <td class="mineral__formula">{{ mineral.formula|safe }}</td>
      </tr>
      {% for k, v in mineral|get_fields %}
      <tr>
        <td class="mineral__category">{{ k }}</td>
        <td>{{ v }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
